<div class="widget-next-match">
    <div class="widget-body mb-3">
        <div class="widget-vs">
            <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                <div class="team-1 text-center">
                    <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
                    <h3> {{dataMatch.teamOne}} <span>({{compare(dataMatch.scoreOne,dataMatch.scoreTwo)}})</span> </h3>

                    <span [ngClass]="{
                            'vert':compare(dataMatch.scoreOne,dataMatch.scoreTwo)=='win',
                            'rouge':compare(dataMatch.scoreOne,dataMatch.scoreTwo)=='lose',
                            'bleu':compare(dataMatch.scoreOne,dataMatch.scoreTwo)=='draw'
                          }">{{dataMatch.scoreOne}}</span>
                </div>
                <div>
                    <span class="vs"><span>VS</span></span>
                </div>

                <div class="team-2 text-center">
                    <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
                    <h3>{{dataMatch.teamTwo}} <span>({{compare(dataMatch.scoreTwo,dataMatch.scoreOne)}})</span></h3>

                    <span [ngClass]="{
              'vert': compare(dataMatch.scoreTwo, dataMatch.scoreOne) == 'win',
              'rouge': compare(dataMatch.scoreTwo, dataMatch.scoreOne) == 'lose',
              'bleu': compare(dataMatch.scoreTwo, dataMatch.scoreOne) == 'draw'
            }">{{dataMatch.scoreTwo}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <button type="button" class="btn btn-danger" (click)='goToMatch(dataMatch.id)'>Display match</button>
    </div>
    <div class="center">
        <button type="button" class="btn btn-secondary" (click)='deleteMatch(dataMatch._id)'>Delete match</button>
    </div>
    <div class="text-center widget-vs-contents mb-4">
        <h4>World Cup League</h4>
        <p class="mb-5">
            <span class="d-block">{{dataMatch.date}}</span>
            <span class="d-block">{{dataMatch.time}}</span>
            <strong class="text-primary">New Euro Arena</strong>
        </p>

        <div id="date-countdown2" class="pb-1"></div>
    </div>
</div>