<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  </div>

  
    <div class="container padding">        
  <div class="widget-next-match">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Poste</th>
          <th>Age</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong class="text-white">{{player.name}}</strong></td>
          <td>{{player.poste}}</td>
          <td>{{player.age}}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>




