<app-event></app-event>
<app-ecrangeant></app-ecrangeant>
<app-cartnews></app-cartnews>
<div class="site-section bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <app-ecranmatch></app-ecranmatch>
      </div>

      <div class="col-6">
        <app-tableaumatch></app-tableaumatch>
      </div>
    </div>
  </div>
</div>
<!-- .site-section -->

<div class="site-section">
  <div class="container">
    <app-bouttonpagination></app-bouttonpagination>
    <app-carousel></app-carousel>
  </div>
</div>